<ion-view title="Dashboard">
  <ion-content class="padding">
     
      <h1>HelloJS example</h1>

      <div class="row">
        <div class="col-sm-3">
            <button ng-click="hello('google').login(loginHandler)" class="button button-block button-primary">Google</button>
        </div>
        <div class="col-sm-3">  
            <button ng-click="hello('facebook').login(loginHandler)" class="button button-block button-primary">Facebook</button>
        </div>
        <div class="col-sm-3">    
            <button ng-click="hello('windows').login(loginHandler)" class="button button-block button-primary">Windows</button>
        </div>
        <div class="col-sm-3">
            <button ng-click="hello('twitter').login(loginHandler)" class="button button-block button-primary">Twitter</button>
        </div>
      </div>
      
      <pre>
      Authentication example
      </pre>
  </ion-content>
</ion-view>
